* {
    box-sizing: border-box
}

body {
    margin: 0px;
    background-color: #F9F9F9;
}

h2 {
    font-family: Georgia, serif;
}

p {
    /* font-family:  Verdana, sans-serif; */
    font-family: Didot;
}

.container {
    width: 85%;
    margin: 0 auto;
    background-color: #F9F9F9;
}

.top-header {
    background-image: url("images/comp3.png");
    text-align: center;
    width: 100%;
    height: 20rem;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    color: white;
    border-radius: 8px;
    /**
         * To add horizontal scroll bars we need
         * to use the following rule. Keep in mind that
         * the white-space: nowrap is required to override
         * the default white-space behaviour which prevents
         * the overflow-x from working.
         * https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp
         */
    white-space: nowrap;
    overflow-x: auto;
}

ul.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-nav {
    float: right;
    color: white;
    margin-right: 50px;
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.top-nav li {
    display: inline;
}

a {
    float: left;
    color: white;
    text-align: center;
    padding: 8px 8px;
    display: block;
    text-decoration: none;
    font-size: 18px;
}

/* visited link */

a:visited {
    color: #f2a154;
}

/* mouse over link */

a:hover {
    color: #153e90;
}

/* selected link */

a:active {
    color: #aaaaaa;
}

.logo {
    float: left;
    width: 100px;
    padding-left: 10px;
    padding-top: 20px;
    margin-left: 10px;
}

.clear-float {
    clear: both;
}

.nameg {
    font-size: 28px;
    color: #ffa700;
    font-weight: bold;
    font-style: italic;
}

.greeting {
    color: white;
    margin: 50px 0px 0px 15px;
    font-size: 20px;
}

.about {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.about-txt {
    padding-top: 3rem;
}

.flex-mid1 {
    display: flex;
    justify-content: space-evenly;
}

.item, .item2 {
    align-items: flex-start;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px 25px 25px 20px;
    margin-top: 50px;
    margin-right: 20px;
    flex: 1;
    border: 2px solid rgb(236, 231, 231);
    /* box-shadow: 5px 10px #bbbfc4; */
    box-shadow: 5px 5px #bbbfc430;
    border-radius: 10px;
}

.item h2, .item2 h2 {
    color: #ffa700;
}

.skills li {
    list-style-type: none;
}

.Work-Experience {
    text-align: left;
}

.Education {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.interest {
    flex-grow: 1;
}

.flex-mid2 {
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
}

.voluntary {
    text-align: left;
}

.title {
    font-weight: bold;
}

footer {
    margin-top: 70px;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #0c1e34;
    height: 20rem;
}

.contact_info {
    float: left;
    padding-left: 42px;
}

.contact_info h2, h4 {
    color: white;
}

.contact_info p {
    color: grey;
}

.form-container {
    padding-top: 20px;
    float: right;
    padding-right: 75px;
}